.editorLayout {
  display: grid;
  grid-template-columns: 70px 1fr;
}

.editorContent {
  background-color: var(--primary);
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 10px 10px 0px;
}

.editorActions {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1000;
}

.editorActions button {
  padding: 12px 18px;
  font-size: 12px;
  font-weight: 500;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.editorActions button:hover {
  background: var(--secondary);
}

.editorActions img {
  width: 24px;
}
