.editorLayout {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 70px 1fr;

  background-color: var(--primary);
}

.editorActions {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.editorActions button {
  padding: 8px 18px;
  font-size: 12px;
  font-weight: 500;
  background: var(--secondary);
  color: var(--accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editorActions button:hover {
  background: var(--accent);
  color: var(--primary);
}

.editorContent {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  color: white;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 10px 10px 0px;
}

.editorSidebar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-radius: 10px 0px 0px 10px;
}
