.sidebar {
  display: flex;
  flex-direction: column;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;

  border-radius: 10px 0px 0px 10px;
  padding-left: 24px;
  gap: 16px;
}

.sidebar button {
  border: none;
  border-radius: 3px;
  height: 42px;
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 0.15s ease,
    transform 0.1s ease;
  box-shadow: inset 0 0 0 0.1px var(--accent);
}

.sidebar button:active {
  transform: scale(0.95);
}

.sidebar button:hover {
  background-color: var(--secondary);
  transform: scale(1.05);
}

.sidebar button.active {
  transform: scale(0.95);
}

.active {
  background-color: var(--secondary) !important;
  box-shadow: inset 3px 0 0 var(--accent);
  border-radius: 6px;
}

.sidebarItemWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.sidebarItem {
  width: 100%;
}

.dragHandle {
  position: absolute;
  left: -16px;

  width: 8px;
  height: 20px;

  background-image: radial-gradient(
    circle,
    var(--accent) 1.2px,
    transparent 1.2px
  );
  background-size: 3px 4px;
  background-repeat: repeat;

  opacity: 0;
  cursor: grab;
  flex-shrink: 0;
  transition: opacity 0.15s ease;
}

.dragHandle:active {
  cursor: grabbing;
}

.sidebarItemWrapper:hover .dragHandle {
  opacity: 1;
}

.icon {
  height: 24px;
}
