.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  background-color: var(--primary);
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  border-radius: 10px 0px 0px 10px;
}

.sidebar button {
  border: none;
  height: 48px;
  background-color: var(--primary);
  cursor: pointer;
  transition: transform 150ms ease;
}

.sidebar button:active {
  transform: scale(0.95);
}

.sidebar button:hover {
  background-color: var(--secondary);
}

.sidebar button.active {
  background-color: var(--secondary);
  box-shadow: inset 3px 0 0 var(--accent);
}

.sidebarItem {
  display: flex;
  align-items: center;
  gap: 8px;
  transition:
    transform 0.15s ease,
    background-color 0.15s ease;
}

.dragHandle {
  cursor: grab;
  opacity: 0.5;
  font-size: 18px;
  user-select: none;
  color: pink;
}

.dragHandle:active {
  cursor: grabbing;
}

.sidebarItem:hover .dragHandle {
  opacity: 1;
}

.icon {
  height: 24px;
}
