.header {
  background-color: var(--primary);
  color: var(--accent);
  padding: 16px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 30%;
  border-bottom: 3px solid var(--accent);
}

.body {
  padding: 32px;
  background-color: var(--secondary);
}

.app {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 32px;
}
