*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

:root {
  --header: #bdb2ff;
  --primary: #1f232c;
  --secondary: #242c3f;
  --neutral: #ffffff;
  --accent: #bdb2ff;
}
